.row{
    background-color: white;
    margin-bottom: 20px;
    padding: 30px 30px 50px 30px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, .5);
    min-height: 100px;
}
.back{
    background-color:rgb(67, 0, 148);
}
.quizhead{
    text-align: center;
    box-shadow: none;
    margin-bottom: 40px;

}
h1{
    color: rgb(67, 0, 148);
    font-size: 60px;
}

.container{
    background-color: white;
    padding: 3px;
}

.btn{
    float:right;
}